@model GadgetHub.WebUI.Models.GadgetListViewModel

@{
    ViewBag.Title = "Gadgets";
}

@foreach (var p in Model.Gadgets) { 
    @Html.Partial("GadgetSummary", p)
}

<div class="btn-group float-end">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>